.global__btn {
  background-color: $main-color;
  color: #fff;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.global__btn:hover {
  background-color: $main-color-hover;
}
