main {
  // SECTION ABOUT
  .section__about {
    @include big-desktop {
      padding: 0 10rem;
    }
    .about__container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin-top: 1rem;
      @include desktop {
        flex-flow: row nowrap;
      }
      @include big-desktop {
        justify-content: space-between;
      }
      .about__card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        .about__icon {
          color: $main-color;
          font-size: 2rem;
          @include tablet-land {
            font-size: 3rem;
          }
          @include big-desktop {
            padding: 0;
            justify-content: space-between;
          }
        }
        .about__title {
          font-size: 1.1rem;
          font-weight: normal;
          margin-top: 0.5rem;
          @include tablet-land {
            font-size: 1.5rem;
          }
        }
        .about__p {
          margin-top: 0.5rem;
          color: $gray-color;
          @include tablet-land {
            font-size: 1.2rem;
          }
          @include desktop {
            text-align: center;
          }
        }
      }
    }
  }
  // SECTION CATEGORIES
  .section__categories {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgba(73, 160, 16, 0.1);
    padding: 2rem 0;
    @include tablet {
      padding: 2rem;
    }
    .categories__title {
      font-size: 2rem;
    }
    .categories__container {
      margin-top: 2rem;
      @include tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      .categories__card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 2rem;
        @include tablet {
          padding: 1rem;
        }
        .categories__img {
          border: 1px solid $gray-color;
          border-radius: 50%;
        }
        .categories__img:hover {
          border: 1px solid $main-color;
          border-radius: 50%;
          cursor: pointer;
        }
        .categories__subtitle {
          color: $main-color;
          margin-top: 0.5rem;
        }
      }
    }
  }
  // SECTION PROMOTION
  .section__promotion {
    padding: 2rem 1rem;
    @include tablet {
      padding: 5rem;
    }
    @include tablet-land {
      display: flex;
      justify-content: center;
      padding: 3rem;
    }
    .promotion__card {
      border: 1px solid $main-color;
      border-radius: 20px 0 20px 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 1rem;
      @include tablet-land {
        width: fit-content;
      }
      @include desktop {
        flex-flow: row nowrap;
      }
      .promotion__container {
        position: relative;
        .promotion__img {
          max-width: 100%;
          height: auto;
          border-radius: 20px 0 20px 0;
          @include tablet-land {
            width: 350px;
          }
          @include desktop {
            padding: 1rem;
          }
        }
      }
    }
    .promotion__wrapper {
      @include desktop {
        text-align: left;
      }
      .promotion__title {
        font-weight: normal;
        margin-top: 0.5rem;
        @include desktop {
          font-size: 3rem;
        }
      }
      .price__container {
        margin-top: 0.5rem;
        .promotion__price {
          color: $main-color;
          font-size: 1.2rem;
          @include desktop {
            font-size: 2.2rem;
          }
        }
        .promotion__price-gray {
          color: $gray-color;
          font-size: 1.2rem;
          @include desktop {
            font-size: 2.2rem;
            margin-left: 1rem;
          }
        }
      }
      .promotion__bar {
        height: 15px;
        width: 100%;
        background-color: #e1e1e1;
        @include desktop {
          width: 550px;
        }
        .promotion__progress {
          background-color: $main-color;
          height: 15px;
          width: 35%;
        }
      }
      .available__wrapper {
        @include desktop {
          margin-top: 0.5rem;
          display: flex;
          justify-content: space-between;
        }
        .promotion__available,
        .promotion__sold {
          color: $gray-color;
          font-size: 0.8rem;
          @include desktop {
            font-size: 1.2rem;
          }
        }
      }
      .promotion__left__container {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        @include desktop {
          justify-content: flex-start;
        }
        .promotion__left {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
          background-color: $main-color;
          color: #fff;
          padding: 0.3rem;
          width: 50px;
          height: 50px;
          text-transform: uppercase;
          margin: 0.4rem;
          @include desktop {
            width: 75px;
            height: 75px;
          }
        }
      }
    }
  }
  // SECTION TRENDY
  .section__trendy {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .trendy__menu {
      .trendy__title {
        font-size: 2rem;
        text-align: center;
      }
      .trendy__ul {
        display: flex;
        list-style: none;
        @include tablet {
          font-size: 1.3rem;
        }
        .trendy__link {
          text-decoration: none;
          padding: 0.5rem;
          .trendy__li {
            color: $gray-color;
          }
          .trendy__li:hover {
            color: $main-color;
          }
        }
        .trendy__link:first-child .trendy__li {
          color: $main-color;
        }
      }
    }
    .trendy__wrapper {
      padding: 1rem;
      @include tablet-land {
        display: flex;
      }
      .trendy__card {
        margin-top: 2rem;
        @include tablet {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
        }
        .trendy__img__container {
          position: relative;
          @include tablet {
            width: 65%;
          }
          @include tablet-land {
            width: 70%;
          }
          @include desktop {
            width: 80%;
          }
          .trendy__img {
            max-width: 100%;
            height: auto;
            border-radius: 20px 0 20px 0;
            border: 2px solid $gray-color;
          }
        }
        .trendy__hover {
          background-color: rgba(73, 160, 16, 0.8);
          color: white;
          width: 100%;
          position: absolute;
          right: 0;
          bottom: 25%;
          text-align: center;
          display: none;
          .hover__icon {
            padding: 0.5rem;
            font-size: 1.1rem;
          }
        }
        .trendy__img:hover + .trendy__hover {
          display: block;
        }
        .trendy__img:hover {
          border: 2px solid $main-color;
        }
        .trendy__name {
          font-weight: normal;
        }
        .trendy__price {
          .price__green {
            color: $main-color;
          }
          .price__gray {
            color: $gray-color;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  // SECTION FRIDAY
  .section__friday {
    margin-top: 2rem;
    background-image: url(/img/black-friday.png);
    background-position: center center;
    background-size: cover;
    .friday__container {
      padding: 5rem 2rem;
      @include tablet {
        padding: 5rem 8rem 5rem 2rem;
      }
      @include big-desktop {
        padding: 5rem 8rem 5rem 5rem;
      }
      .friday__subtitle {
        color: $main-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.9rem;
        @include tablet-land {
          font-size: 1.1rem;
        }
      }
      .friday__title {
        text-transform: uppercase;
        @include tablet-land {
          font-size: 2rem;
        }
      }
      .friday__btn {
        margin-top: 1rem;
        @include tablet-land {
          font-size: 1.3rem;
        }
      }
    }
  }
  // SECTION TOP
  .section__top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    @include tablet {
      flex-flow: row nowrap;
    }
    @include desktop {
      justify-content: space-between;
    }
    @include big-desktop {
      justify-content: center;
    }
    .top__wrapper {
      @include big-desktop {
        padding: 0 5rem;
      }
      .top__title {
        position: relative;
        text-align: center;
        @include desktop {
          font-size: 1.8rem;
        }
      }
      .top__title:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 45px;
        border-bottom: 1px solid $main-color;
      }
      .top__card {
        display: flex;
        align-items: center;
        margin: 1rem;
        .price__container {
          margin-left: 0.5rem;
          @include desktop {
            font-size: 1.3rem;
          }
          .top__price {
            color: $main-color;
          }
          .last__price {
            color: $gray-color;
          }
        }
      }
    }
  }
  // SECTION BLOG
  .section__blog {
    .blog__h1 {
      text-align: center;
      @include big-desktop {
        font-size: 2rem;
      }
    }
    .blog__wrapper {
      @include desktop {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
      }
      @include big-desktop {
        flex-flow: row nowrap;
        align-items: unset;
        justify-content: space-evenly;
        padding: 0 10rem;
        margin-top: 2rem;
      }
      .blog__big {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        @include tablet-land {
          margin: 1rem 8rem;
        }
        @include desktop {
          width: 50%;
        }
        @include big-desktop {
          width: 40%;
          margin: 0;
          justify-content: flex-start;
          align-items: center;
        }
        .big__img {
          max-width: 100%;
          @include tablet {
            width: 100%;
          }
        }
        .blog__title {
          color: $main-color;
          font-size: 1.1rem;
          margin-top: 0.5rem;
          @include tablet {
            font-size: 1.5rem;
          }
          @include big-desktop {
            font-size: 1.4rem;
            text-align: center;
            padding: 0 0.1rem;
          }
        }
        .blog__p {
          color: $gray-color;
          font-size: 0.9rem;
          text-align: center;
          @include tablet {
            padding: 0 1rem;
            font-size: 1.2rem;
          }
          @include big-desktop {
            font-size: 1.1rem;
          }
        }
        .blog__btn {
          font-size: 0.8rem;
          margin: 0.5rem;
          @include tablet {
            margin: 1.5rem;
          }
          @include big-desktop {
            font-size: 0.9rem;
          }
        }
      }
      .blog__small {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        @include tablet-land {
          margin: 0;
        }
        @include big-desktop {
          margin: 0;
          justify-content: space-between;
          width: 50%;
        }
        .blog__card {
          display: flex;
          flex-flow: row nowrap;
          margin: 1rem 0;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          @include tablet-land {
            margin: 1rem 8rem;
          }
          @include desktop {
            width: 60%;
          }
          @include big-desktop {
            width: 100%;
            margin: 0;
          }
          .blog__img__small {
            width: 100%;
            height: 100%;
            @include desktop {
              width: 35%;
            }
          }
          .small__wrapper {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            margin-left: 0.8rem;
            .blog__title__small {
              color: $main-color;
              font-size: 0.8rem;
              @include tablet {
                font-size: 1.5rem;
              }
            }
            .blog__p__small {
              font-size: 0.8rem;
              color: $gray-color;
              margin-top: 0.7rem;
              @include tablet {
                font-size: 1.2rem;
              }
            }
            .blog__btn__small {
              font-size: 0.5rem;
              margin-top: 0.7rem;
              @include tablet {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
  // SECTION SPONSORS
  .section__sponsors {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    @include desktop {
      margin-top: 5rem;
    }
    .sponsors__wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      border: 1px solid $main-color;
      border-radius: 20px 0 20px 0;
      margin: 0 1rem;
      padding: 1rem;
      width: fit-content;
      @include tablet {
        flex-flow: row wrap;
        justify-content: center;
        padding: 0;
      }
      @include desktop {
        padding: 1rem;
      }
      .sponsors__img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
