main {
  // SECTION ABOUT
  .section__about {
    @include big-desktop {
      padding: 0 10rem;
    }
    .about__container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin-top: 1rem;
      @include desktop {
        flex-flow: row nowrap;
      }
      @include big-desktop {
        justify-content: space-between;
      }
      .about__card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        .about__icon {
          color: $main-color;
          font-size: 2rem;
          @include tablet-land {
            font-size: 3rem;
          }
          @include big-desktop {
            padding: 0;
            justify-content: space-between;
          }
        }
        .about__title {
          font-size: 1.1rem;
          font-weight: normal;
          margin-top: 0.5rem;
          @include tablet-land {
            font-size: 1.5rem;
          }
        }
        .about__p {
          margin-top: 0.5rem;
          color: $gray-color;
          @include tablet-land {
            font-size: 1.2rem;
          }
          @include desktop {
            text-align: center;
          }
        }
      }
    }
  }
  .section__categories {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgba(73, 160, 16, 0.1);
    padding: 2rem 0;
    @include tablet {
      padding: 2rem;
    }
    .categories__title {
      font-size: 2rem;
    }
    .categories__container {
      margin-top: 2rem;
      @include tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      .categories__card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 2rem;
        @include tablet {
          padding: 1rem;
        }
        .categories__img {
          border: 1px solid $gray-color;
          border-radius: 50%;
        }
        .categories__img:hover {
          border: 1px solid $main-color;
          border-radius: 50%;
          cursor: pointer;
        }
        .categories__subtitle {
          color: $main-color;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
