.global__btn {
  background-color: #49a010;
  color: #fff;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.global__btn:hover {
  background-color: #56be10;
}

@media (min-width: 1400px) {
  main .section__about {
    padding: 0 10rem;
  }
}

main .section__about .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

@media (min-width: 1000px) {
  main .section__about .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

@media (min-width: 1400px) {
  main .section__about .about__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .section__about .about__container .about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

main .section__about .about__container .about__card .about__icon {
  color: #49a010;
  font-size: 2rem;
}

@media (min-width: 760px) {
  main .section__about .about__container .about__card .about__icon {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
  main .section__about .about__container .about__card .about__icon {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .section__about .about__container .about__card .about__title {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

@media (min-width: 760px) {
  main .section__about .about__container .about__card .about__title {
    font-size: 1.5rem;
  }
}

main .section__about .about__container .about__card .about__p {
  margin-top: 0.5rem;
  color: #a1a1a1;
}

@media (min-width: 760px) {
  main .section__about .about__container .about__card .about__p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  main .section__about .about__container .about__card .about__p {
    text-align: center;
  }
}

main .section__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(73, 160, 16, 0.1);
  padding: 2rem 0;
}

@media (min-width: 600px) {
  main .section__categories {
    padding: 2rem;
  }
}

main .section__categories .categories__title {
  font-size: 2rem;
}

main .section__categories .categories__container {
  margin-top: 2rem;
}

@media (min-width: 600px) {
  main .section__categories .categories__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .section__categories .categories__container .categories__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  main .section__categories .categories__container .categories__card {
    padding: 1rem;
  }
}

main .section__categories .categories__container .categories__card .categories__img {
  border: 1px solid #a1a1a1;
  border-radius: 50%;
}

main .section__categories .categories__container .categories__card .categories__img:hover {
  border: 1px solid #49a010;
  border-radius: 50%;
  cursor: pointer;
}

main .section__categories .categories__container .categories__card .categories__subtitle {
  color: #49a010;
  margin-top: 0.5rem;
}

main .section__promotion {
  padding: 2rem 1rem;
}

@media (min-width: 600px) {
  main .section__promotion {
    padding: 5rem;
  }
}

@media (min-width: 760px) {
  main .section__promotion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3rem;
  }
}

main .section__promotion .promotion__card {
  border: 1px solid #49a010;
  border-radius: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (min-width: 760px) {
  main .section__promotion .promotion__card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

main .section__promotion .promotion__card .promotion__container {
  position: relative;
}

main .section__promotion .promotion__card .promotion__container .promotion__img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 0 20px 0;
}

@media (min-width: 760px) {
  main .section__promotion .promotion__card .promotion__container .promotion__img {
    width: 350px;
  }
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__card .promotion__container .promotion__img {
    padding: 1rem;
  }
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper {
    text-align: left;
  }
}

main .section__promotion .promotion__wrapper .promotion__title {
  font-weight: normal;
  margin-top: 0.5rem;
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper .promotion__title {
    font-size: 3rem;
  }
}

main .section__promotion .promotion__wrapper .price__container {
  margin-top: 0.5rem;
}

main .section__promotion .promotion__wrapper .price__container .promotion__price {
  color: #49a010;
  font-size: 1.2rem;
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper .price__container .promotion__price {
    font-size: 2.2rem;
  }
}

main .section__promotion .promotion__wrapper .price__container .promotion__price-gray {
  color: #a1a1a1;
  font-size: 1.2rem;
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper .price__container .promotion__price-gray {
    font-size: 2.2rem;
    margin-left: 1rem;
  }
}

main .section__promotion .promotion__wrapper .promotion__bar {
  height: 15px;
  width: 100%;
  background-color: #e1e1e1;
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper .promotion__bar {
    width: 550px;
  }
}

main .section__promotion .promotion__wrapper .promotion__bar .promotion__progress {
  background-color: #49a010;
  height: 15px;
  width: 35%;
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper .available__wrapper {
    margin-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .section__promotion .promotion__wrapper .available__wrapper .promotion__available,
main .section__promotion .promotion__wrapper .available__wrapper .promotion__sold {
  color: #a1a1a1;
  font-size: 0.8rem;
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper .available__wrapper .promotion__available,
  main .section__promotion .promotion__wrapper .available__wrapper .promotion__sold {
    font-size: 1.2rem;
  }
}

main .section__promotion .promotion__wrapper .promotion__left__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
}

@media (min-width: 1000px) {
  main .section__promotion .promotion__wrapper .promotion__left__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main .section__promotion .promotion__wrapper .promotion__left__container .promotion__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #49a010;
  color: #fff;
  padding: 0.3rem;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  margin: 0.4rem;
}

main .section__trendy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section__trendy .trendy__menu .trendy__title {
  font-size: 2rem;
  text-align: center;
}

main .section__trendy .trendy__menu .trendy__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (min-width: 600px) {
  main .section__trendy .trendy__menu .trendy__ul {
    font-size: 1.3rem;
  }
}

main .section__trendy .trendy__menu .trendy__ul .trendy__link {
  text-decoration: none;
  padding: 0.5rem;
}

main .section__trendy .trendy__menu .trendy__ul .trendy__link .trendy__li {
  color: #a1a1a1;
}

main .section__trendy .trendy__menu .trendy__ul .trendy__link .trendy__li:hover {
  color: #49a010;
}

main .section__trendy .trendy__menu .trendy__ul .trendy__link:first-child .trendy__li {
  color: #49a010;
}

main .section__trendy .trendy__wrapper {
  padding: 1rem;
}

@media (min-width: 760px) {
  main .section__trendy .trendy__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main .section__trendy .trendy__wrapper .trendy__card {
  margin-top: 2rem;
}

@media (min-width: 600px) {
  main .section__trendy .trendy__wrapper .trendy__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__img__container {
  position: relative;
}

@media (min-width: 600px) {
  main .section__trendy .trendy__wrapper .trendy__card .trendy__img__container {
    width: 65%;
  }
}

@media (min-width: 760px) {
  main .section__trendy .trendy__wrapper .trendy__card .trendy__img__container {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  main .section__trendy .trendy__wrapper .trendy__card .trendy__img__container {
    width: 80%;
  }
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__img__container .trendy__img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 0 20px 0;
  border: 2px solid #a1a1a1;
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__hover {
  background-color: rgba(73, 160, 16, 0.8);
  color: white;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 25%;
  text-align: center;
  display: none;
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__hover .hover__icon {
  padding: 0.5rem;
  font-size: 1.1rem;
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__img:hover + .trendy__hover {
  display: block;
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__img:hover {
  border: 2px solid #49a010;
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__name {
  font-weight: normal;
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__price .price__green {
  color: #49a010;
}

main .section__trendy .trendy__wrapper .trendy__card .trendy__price .price__gray {
  color: #a1a1a1;
  margin-left: 0.5rem;
}

main .section__friday {
  margin-top: 2rem;
  background-image: url(/img/black-friday.png);
  background-position: center center;
  background-size: cover;
}

main .section__friday .friday__container {
  padding: 5rem 2rem;
}

@media (min-width: 600px) {
  main .section__friday .friday__container {
    padding: 5rem 8rem 5rem 2rem;
  }
}

@media (min-width: 1400px) {
  main .section__friday .friday__container {
    padding: 5rem 8rem 5rem 5rem;
  }
}

main .section__friday .friday__container .friday__subtitle {
  color: #49a010;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

@media (min-width: 760px) {
  main .section__friday .friday__container .friday__subtitle {
    font-size: 1.1rem;
  }
}

main .section__friday .friday__container .friday__title {
  text-transform: uppercase;
}

@media (min-width: 760px) {
  main .section__friday .friday__container .friday__title {
    font-size: 2rem;
  }
}

main .section__friday .friday__container .friday__btn {
  margin-top: 1rem;
}

@media (min-width: 760px) {
  main .section__friday .friday__container .friday__btn {
    font-size: 1.3rem;
  }
}

main .section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

@media (min-width: 600px) {
  main .section__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

@media (min-width: 1000px) {
  main .section__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  main .section__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1400px) {
  main .section__top .top__wrapper {
    padding: 0 5rem;
  }
}

main .section__top .top__wrapper .top__title {
  position: relative;
  text-align: center;
}

@media (min-width: 1000px) {
  main .section__top .top__wrapper .top__title {
    font-size: 1.8rem;
  }
}

main .section__top .top__wrapper .top__title:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 45px;
  border-bottom: 1px solid #49a010;
}

main .section__top .top__wrapper .top__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

main .section__top .top__wrapper .top__card .price__container {
  margin-left: 0.5rem;
}

@media (min-width: 1000px) {
  main .section__top .top__wrapper .top__card .price__container {
    font-size: 1.3rem;
  }
}

main .section__top .top__wrapper .top__card .price__container .top__price {
  color: #49a010;
}

main .section__top .top__wrapper .top__card .price__container .last__price {
  color: #a1a1a1;
}

main .section__blog .blog__h1 {
  text-align: center;
}

@media (min-width: 1400px) {
  main .section__blog .blog__h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  main .section__blog .blog__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media (min-width: 1400px) {
  main .section__blog .blog__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 10rem;
    margin-top: 2rem;
  }
}

main .section__blog .blog__wrapper .blog__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (min-width: 760px) {
  main .section__blog .blog__wrapper .blog__big {
    margin: 1rem 8rem;
  }
}

@media (min-width: 1000px) {
  main .section__blog .blog__wrapper .blog__big {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  main .section__blog .blog__wrapper .blog__big {
    width: 40%;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .section__blog .blog__wrapper .blog__big .big__img {
  max-width: 100%;
}

@media (min-width: 600px) {
  main .section__blog .blog__wrapper .blog__big .big__img {
    width: 100%;
  }
}

main .section__blog .blog__wrapper .blog__big .blog__title {
  color: #49a010;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

@media (min-width: 600px) {
  main .section__blog .blog__wrapper .blog__big .blog__title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1400px) {
  main .section__blog .blog__wrapper .blog__big .blog__title {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 0.1rem;
  }
}

main .section__blog .blog__wrapper .blog__big .blog__p {
  color: #a1a1a1;
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 600px) {
  main .section__blog .blog__wrapper .blog__big .blog__p {
    padding: 0 1rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  main .section__blog .blog__wrapper .blog__big .blog__p {
    font-size: 1.1rem;
  }
}

main .section__blog .blog__wrapper .blog__big .blog__btn {
  font-size: 0.8rem;
  margin: 0.5rem;
}

@media (min-width: 600px) {
  main .section__blog .blog__wrapper .blog__big .blog__btn {
    margin: 1.5rem;
  }
}

@media (min-width: 1400px) {
  main .section__blog .blog__wrapper .blog__big .blog__btn {
    font-size: 0.9rem;
  }
}

main .section__blog .blog__wrapper .blog__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

@media (min-width: 760px) {
  main .section__blog .blog__wrapper .blog__small {
    margin: 0;
  }
}

@media (min-width: 1400px) {
  main .section__blog .blog__wrapper .blog__small {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
}

main .section__blog .blog__wrapper .blog__small .blog__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 1rem 0;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (min-width: 760px) {
  main .section__blog .blog__wrapper .blog__small .blog__card {
    margin: 1rem 8rem;
  }
}

@media (min-width: 1000px) {
  main .section__blog .blog__wrapper .blog__small .blog__card {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  main .section__blog .blog__wrapper .blog__small .blog__card {
    width: 100%;
    margin: 0;
  }
}

main .section__blog .blog__wrapper .blog__small .blog__card .blog__img__small {
  width: 100%;
  height: 100%;
}

@media (min-width: 1000px) {
  main .section__blog .blog__wrapper .blog__small .blog__card .blog__img__small {
    width: 35%;
  }
}

main .section__blog .blog__wrapper .blog__small .blog__card .small__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 0.8rem;
}

main .section__blog .blog__wrapper .blog__small .blog__card .small__wrapper .blog__title__small {
  color: #49a010;
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  main .section__blog .blog__wrapper .blog__small .blog__card .small__wrapper .blog__title__small {
    font-size: 1.5rem;
  }
}

main .section__blog .blog__wrapper .blog__small .blog__card .small__wrapper .blog__p__small {
  font-size: 0.8rem;
  color: #a1a1a1;
  margin-top: 0.7rem;
}

@media (min-width: 600px) {
  main .section__blog .blog__wrapper .blog__small .blog__card .small__wrapper .blog__p__small {
    font-size: 1.2rem;
  }
}

main .section__blog .blog__wrapper .blog__small .blog__card .small__wrapper .blog__btn__small {
  font-size: 0.5rem;
  margin-top: 0.7rem;
}

@media (min-width: 600px) {
  main .section__blog .blog__wrapper .blog__small .blog__card .small__wrapper .blog__btn__small {
    font-size: 0.8rem;
  }
}

main .section__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

@media (min-width: 1000px) {
  main .section__sponsors {
    margin-top: 5rem;
  }
}

main .section__sponsors .sponsors__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #49a010;
  border-radius: 20px 0 20px 0;
  margin: 0 1rem;
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 600px) {
  main .section__sponsors .sponsors__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

@media (min-width: 1000px) {
  main .section__sponsors .sponsors__wrapper {
    padding: 1rem;
  }
}

main .section__sponsors .sponsors__wrapper .sponsors__img {
  max-width: 100%;
  height: auto;
}

header .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(73, 160, 16, 0.2);
  color: #a1a1a1;
  padding: 0 0 0.5rem 0;
}

@media (min-width: 1400px) {
  header .header__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10rem 0.5rem 10rem;
  }
}

header .header__info .header__phone {
  color: #49a010;
  margin-right: 0.3rem;
}

header .header__info .header__icon {
  color: #49a010;
  margin-left: 0.15rem;
}

header .header__info .header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

header .header__info .header__language .header__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
}

header .header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1400px) {
  header .header__hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 10rem;
  }
}

header .header__hero .hero__logo {
  margin-top: 1rem;
}

@media (min-width: 1400px) {
  header .header__hero .hero__logo {
    margin-top: 0;
  }
}

header .header__hero .hero__search {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1400px) {
  header .header__hero .hero__search {
    margin-top: 0;
  }
}

header .header__hero .hero__search .hero__input {
  color: #49a010;
  border: 2px solid #49a010;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (min-width: 600px) {
  header .header__hero .hero__search .hero__input {
    font-size: 1.2rem;
  }
}

@media (min-width: 760px) {
  header .header__hero .hero__search .hero__input {
    font-size: 1.3rem;
  }
}

header .header__hero .hero__search .search__btn {
  color: white;
  border: none;
  cursor: pointer;
}

header .header__hero .hero__search .search__btn .search__icon {
  padding: 0.55rem 0.8rem;
  border: 2px solid #49a010;
  border-left: none;
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  header .header__hero .hero__search .search__btn .search__icon {
    font-size: 1.1rem;
  }
}

@media (min-width: 760px) {
  header .header__hero .hero__search .search__btn .search__icon {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  header .header__hero .hero__search .search__btn .search__icon {
    font-size: 1.3rem;
  }
}

header .header__hero .hero__search .hero__input:focus {
  outline: none;
  color: #49a010;
}

header .header__hero .hero__search .hero__input::-webkit-input-placeholder {
  color: #a1a1a1;
}

header .header__hero .hero__search .hero__input:-ms-input-placeholder {
  color: #a1a1a1;
}

header .header__hero .hero__search .hero__input::-ms-input-placeholder {
  color: #a1a1a1;
}

header .header__hero .hero__search .hero__input::placeholder {
  color: #a1a1a1;
}

header .header__hero .header__btn {
  text-transform: inherit;
  letter-spacing: inherit;
  margin-top: 1rem;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  header .header__hero .header__btn {
    font-size: 1.1rem;
  }
}

@media (min-width: 760px) {
  header .header__hero .header__btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  header .header__hero .header__btn {
    margin-top: 0;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  border-top: 1px solid rgba(73, 160, 16, 0.2);
}

@media (min-width: 1000px) {
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1400px) {
  header nav {
    margin-top: 0;
  }
}

header nav .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

@media (min-width: 1000px) {
  header nav .nav__ul {
    margin-top: 0;
  }
}

header nav .nav__ul .nav__li {
  padding: 0.5rem;
}

header nav .nav__ul .nav__li .nav__link {
  color: #49a010;
  text-decoration: none;
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  header nav .nav__ul .nav__li .nav__link {
    font-size: 1.3rem;
  }
}

@media (min-width: 760px) {
  header nav .nav__ul .nav__li .nav__link {
    font-size: 1.4rem;
  }
}

header nav .nav__ul .nav__li .nav__link:hover {
  color: #56be10;
}

header .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/img/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .hero__container .hero__layer {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem;
  padding: 2rem 1rem;
}

@media (min-width: 1400px) {
  header .hero__container .hero__layer {
    margin: 4rem 0;
  }
}

header .hero__container .hero__layer .hero__h1 {
  color: #49a010;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

@media (min-width: 600px) {
  header .hero__container .hero__layer .hero__h1 {
    font-size: 1rem;
  }
}

@media (min-width: 760px) {
  header .hero__container .hero__layer .hero__h1 {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  header .hero__container .hero__layer .hero__h1 {
    font-size: 1.2rem;
  }
}

header .hero__container .hero__layer .hero__p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  width: 60%;
}

@media (min-width: 600px) {
  header .hero__container .hero__layer .hero__p {
    font-size: 1.5rem;
  }
}

@media (min-width: 760px) {
  header .hero__container .hero__layer .hero__p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  header .hero__container .hero__layer .hero__p {
    font-size: 1.7rem;
    width: 40%;
    text-align: center;
  }
}

header .hero__container .hero__layer .hero__btn {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  header .hero__container .hero__layer .hero__btn {
    font-size: 1.1rem;
  }
}

@media (min-width: 760px) {
  header .hero__container .hero__layer .hero__btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  header .hero__container .hero__layer .hero__btn {
    margin-top: 1rem;
  }
}

body {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

body .wrapper {
  padding: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */